In [103]:
import pandas as pd

In [105]:
df = pd.read_excel(r'C:\Users\lenovo\Desktop\DA_FreeCodeCamp\Customer Call List.xlsx')

In [107]:
df = df.drop_duplicates ()

In [116]:
#df['Last_Name'] = df['Last_Name'].str.lstrip('...')
#df['Last_Name'] = df['Last_Name'].str.lstrip('/')
#df['Last_Name'] = df['Last_Name'].str.rstrip('_')

#ABOVE 3 STATEMENTS AND THE STATEMENT BELOW WORK THE SAME.

#df['Last_Name'] = df['Last_Name'].str.strip("123._/")  #FASTEST WAY TO FILTER LAST NAME COLUMN

In [117]:
#df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','',regex = True)   #This will filter the phone numbers i.e. removes '-','/','|'
#df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x)) #This will treat the data in column as string 
#df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10]) #This will add '-' before the indexes mentioned 

# MAKE SURE YOU RUN THE BELOW 2 STATEMENTS AFTER COMMENTING ABOVE STATEMENTS BECAUSE IF YOU DON'T , IT WILL WORK ACCORDINGLY AND INSERT '-'AT MENTIONED 
# INDEXES CAUSING THE OUTPUT AS '-' IN PLACE OF nan & Na IN PHONE NUMBER COLUMN.

#df['Phone_Number'] = df['Phone_Number'].replace('nan--','')
#df['Phone_Number'] = df['Phone_Number'].replace('Na--','')

In [118]:
#df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',', expand = True)  

#THIS WILL SEPERATE THE ADDRESS ON THE BASIS OF ','

In [127]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N')

#Changing the values in Paying Customer Column from Yes to Y and No to N

In [129]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N')

#Changing the values in Do_Not_Contact Column from Yes to Y and No to N

In [131]:
df = df.fillna('')  #It will fill empty space wherever there is something missing

In [134]:
for x in df.index:
    if df.loc[x,"Do_Not_Contact"] == 'Y':
        df.drop(x, inplace = True)

In [136]:
for x in df.index:
    if df.loc[x,"Phone_Number"] == '':
        df.drop(x, inplace = True)

In [137]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True,123 Shire Lane,Shire,
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,True,123 Dragons Road,,
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,False,98 Clue Drive,,
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True,25th Main Street,New York,
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,False,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,False,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,False,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,True,910 Tatooine Road,Tatooine,

In [138]:
df = df.reset_index(drop=True)

In [139]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,True,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,False,98 Clue Drive,,
3,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True,25th Main Street,New York,
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False,2039 Main Street,,
5,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,False,343 City Parkway,,
6,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,False,214 HR Avenue,,
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,False,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,True,910 Tatooine Road,Tatooine,